body{
    font-family: Sans-Serif;	
    background-image: url("back2smaller.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    display: block;
    overflow: auto;
   
}


section .c{
    width:100%;
    height: 200px;
    border: 1px black solid;
    float: left;
    margin: 20px;
    background-color: grey;
    opacity: 0.5;
}