body{
    font-family: Sans-Serif;	
    background-image: url("back2smaller.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    display: block;
    overflow: auto;
   
}


section .c{
    width:99%;
    height: 200px;
    border: 1px black solid;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
    opacity: 0.5;
    border-radius: 3px;
}

#ft{
    background-image: url("images/NIH.jpg");
}