.btn {
    white-space: normal;
}


#map {
    height: 500px;
    width: 100%;
    background-color: #EFEEEC;
}

#col1 {
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #333;
    border-radius: 16px;
}

body{
    font-family: Sans-Serif;	
    background-image: url("back2smaller.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    display: block;
    overflow: auto;
   
}

.row{
    display: block;
    overflow: auto;
}
    
    
#col3{
    
        background-color: whitesmoke;
        
}