.btn {
    white-space: normal;
}

 #col3:empty{    
        background-color: transparent;
        border-radius: 0px;
        border: 0px;
        padding: 0px;
        visibility: hidden;
} 
#col3:not(:empty){    
        background-color: white;
        border-radius: 10px;
        border: 2px solid green;
        padding: 10px;
        visibility: visible;
}  
#map {
    height: 500px;
    width: 100%;
    background-color: #EFEEEC;
}

#col1 {
    padding: 8px;
    padding-left: 0px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #333;
    border-radius: 16px;
}

body{
    font-family: Sans-Serif;	
    background-image: url("back2smaller.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    display: block;
    overflow: auto;
   
}

.row{
    display: block;
    overflow: auto;
}
    
    
 
@media (max-width: 768px){
    #col2, #col3{
        width: 265px;
        
    }
    #right #col2{
        float: left;
    }
}/*
@media (min-width: 768px){
    #col2{
        width: 300px;
    }
}*/
