/* Black background colour to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 19px 22px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the colour of links on hover */
.topnav a:hover {
    background-color: #ddd; /*Grey*/
    color: black;
}
#emailInNav
{
	padding-top: 12px;
}
.nav 
{
	height: 50px; /* This reduces the height of the div which contains the navbar */
}
/* Colour Co active/current link */
.topnav a.active {
    background-color: #4CAF50; /*Green*/
    color: white;
}

h1 {
    font-family: sans-serif;
    color: black;
}

label {
    font-family: sans-serif;
    color: black;
}

.form-control {
    border-color: grey;
}

button {
    background-color: #4CAF50; /*Green*/
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginBlock {
    background-color: whitesmoke;
    width: 90%;
}

p.errmsg {
    color: red;
}





