.panel-default{
    background: transparent;
}

.panel-default .panel-heading{
	background: rgba(0, 0, 0, 0);
}

.panel-default .panel-body{
	background: rgba(0, 0, 0, 0);
}

#Panel_Image 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

img {
	border-radius: 50%;
}

#green { border-style: solid;
    border-color: green;
	border: 4px solid green;
}