#map {
  height: 93%;
  width: 100%;
  background-color: #EFEEEC;
  border-radius: 16px;
  margin-top: 8px;
  border: 1px solid white;
}

.scrollView {
  height: 93%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 16px;
  border: 2px solid lightgrey;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 8px;
}

.scrollView h4 {
  padding: 4px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: -8px;
}

.detailsView h2 {
  padding: 4px;
  color: rgba(255, 255, 255, 0.8);
}

.searchReason {
  text-align: right;
  color: rgba(196, 196, 196, 0.9);
}

.detailsView {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 8px;
  visibility: visible;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: -16px;
}

.detailsView .formButton {
  margin-top: -4px;
  margin-bottom: 8px;
}

label {
  color: whitesmoke;
}

p, span {
  color: rgb(198, 198, 198);
}

body{
    font-family: Sans-Serif;
    background: linear-gradient(#4CAF50, #0096FF);
    display: block;
    overflow: auto;
    min-height: 100vh;
    background-size: cover;
}
