<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>22</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>4</integer>
				<key>WarningSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIyRYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBobVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcZW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAYQAIADEFaAABP/
						/////////18QmmZpbGU6Ly8vVXNl
						cnMvTGV0YW55YW5BcnVtdWdhbS9E
						b2N1bWVudHMvVW5pdmVyc2l0eS8y
						MDE4L1NlbWVzdGVyMS9DT1MzMDEv
						TWFpbi9DT1MzMDEtQ2Fwc3RvbmUv
						U291cmNlL2lPUy9IYXJ2ZXN0L0hh
						cnZlc3QvQXBwJTIwRGVsZWdhdGUv
						QXBwRGVsZWdhdGUuc3dpZnTSHB0e
						H1okY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jICEiXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SUmVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						GAG1AboBxQHOAegB7AIGAhwCJQI3
						AjoCPwAAAAAAAAIBAAAAAAAAACcA
						AAAAAAAAAAAAAAAAAAJB
						</data>
						<key>IssueType</key>
						<string>Shell Script Invocation Warning</string>
						<key>Message</key>
						<string>Todo Violation: FIXMEs should be resolved (Uncomment in production). (todo)</string>
						<key>Target</key>
						<string>Harvest</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIyRYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBobVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcZW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQAIADEQItgAAT
						//////////9fEKRmaWxlOi8vL1Vz
						ZXJzL0xldGFueWFuQXJ1bXVnYW0v
						RG9jdW1lbnRzL1VuaXZlcnNpdHkv
						MjAxOC9TZW1lc3RlcjEvQ09TMzAx
						L01haW4vQ09TMzAxLUNhcHN0b25l
						L1NvdXJjZS9pT1MvSGFydmVzdC9I
						YXJ2ZXN0L01vZGVsL0luZm9ybWF0
						aW9uL0luZm9SZXByZXNlbnRhdGlv
						bi5zd2lmdNIcHR4fWiRjbGFzc25h
						bWVYJGNsYXNzZXNfEBdEVlRUZXh0
						RG9jdW1lbnRMb2NhdGlvbqMgISJf
						EBdEVlRUZXh0RG9jdW1lbnRMb2Nh
						dGlvbl8QE0RWVERvY3VtZW50TG9j
						YXRpb25YTlNPYmplY3RfEA9OU0tl
						eWVkQXJjaGl2ZXLRJSZUcm9vdIAB
						AAgAEQAaACMALQAyADcAPABCAFcA
						YwB6AI8AowC2AL0A0ADaAO8BAwEF
						AQcBCQELAQ4BEAEZAcABxQHQAdkB
						8wH3AhECJwIwAkICRQJKAAAAAAAA
						AgEAAAAAAAAAJwAAAAAAAAAAAAAA
						AAAAAkw=
						</data>
						<key>IssueType</key>
						<string>Shell Script Invocation Warning</string>
						<key>Message</key>
						<string>Todo Violation: FIXMEs should be resolved (Maybe allow changing these det...). (todo)</string>
						<key>Target</key>
						<string>Harvest</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIyRYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBobVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcZW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAgQAIADEIWAABP/
						/////////18QmWZpbGU6Ly8vVXNl
						cnMvTGV0YW55YW5BcnVtdWdhbS9E
						b2N1bWVudHMvVW5pdmVyc2l0eS8y
						MDE4L1NlbWVzdGVyMS9DT1MzMDEv
						TWFpbi9DT1MzMDEtQ2Fwc3RvbmUv
						U291cmNlL2lPUy9IYXJ2ZXN0L0hh
						cnZlc3QvTW9kZWwvSW5mb3JtYXRp
						b24vU2Vzc2lvbi5zd2lmdNIcHR4f
						WiRjbGFzc25hbWVYJGNsYXNzZXNf
						EBdEVlRUZXh0RG9jdW1lbnRMb2Nh
						dGlvbqMgISJfEBdEVlRUZXh0RG9j
						dW1lbnRMb2NhdGlvbl8QE0RWVERv
						Y3VtZW50TG9jYXRpb25YTlNPYmpl
						Y3RfEA9OU0tleWVkQXJjaGl2ZXLR
						JSZUcm9vdIABAAgAEQAaACMALQAy
						ADcAPABCAFcAYwB6AI8AowC2AL0A
						0ADaAO8BAwEFAQcBCQELAQ0BDwEY
						AbQBuQHEAc0B5wHrAgUCGwIkAjYC
						OQI+AAAAAAAAAgEAAAAAAAAAJwAA
						AAAAAAAAAAAAAAAAAkA=
						</data>
						<key>IssueType</key>
						<string>Shell Script Invocation Warning</string>
						<key>Message</key>
						<string>Todo Violation: FIXMEs should be resolved (MAYBE WE MAKE EDIT COLLECTION ...). (todo)</string>
						<key>Target</key>
						<string>Harvest</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIyRYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBobVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcZW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAwQAIADEIeAABP/
						/////////18Qj2ZpbGU6Ly8vVXNl
						cnMvTGV0YW55YW5BcnVtdWdhbS9E
						b2N1bWVudHMvVW5pdmVyc2l0eS8y
						MDE4L1NlbWVzdGVyMS9DT1MzMDEv
						TWFpbi9DT1MzMDEtQ2Fwc3RvbmUv
						U291cmNlL2lPUy9IYXJ2ZXN0L0hh
						cnZlc3QvRGF0YWJhc2UvREJBdXRo
						LnN3aWZ00hwdHh9aJGNsYXNzbmFt
						ZVgkY2xhc3Nlc18QF0RWVFRleHRE
						b2N1bWVudExvY2F0aW9uoyAhIl8Q
						F0RWVFRleHREb2N1bWVudExvY2F0
						aW9uXxATRFZURG9jdW1lbnRMb2Nh
						dGlvblhOU09iamVjdF8QD05TS2V5
						ZWRBcmNoaXZlctElJlRyb290gAEA
						CAARABoAIwAtADIANwA8AEIAVwBj
						AHoAjwCjALYAvQDQANoA7wEDAQUB
						BwEJAQsBDQEPARgBqgGvAboBwwHd
						AeEB+wIRAhoCLAIvAjQAAAAAAAAC
						AQAAAAAAAAAnAAAAAAAAAAAAAAAA
						AAACNg==
						</data>
						<key>IssueType</key>
						<string>Shell Script Invocation Warning</string>
						<key>Message</key>
						<string>Todo Violation: FIXMEs should be resolved (#warning("Complete with proper...). (todo)</string>
						<key>Target</key>
						<string>Harvest</string>
					</dict>
				</array>
			</dict>
			<key>EndedTime</key>
			<date>2018-07-04T00:35:10Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i5</string>
					<key>CPUSpeedInMHz</key>
					<integer>3300</integer>
					<key>Identifier</key>
					<string>532B4351-70B8-5D91-96B0-59AE3207BBAF</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>iMac17,1</string>
					<key>ModelName</key>
					<string>iMac</string>
					<key>ModelUTI</key>
					<string>com.apple.imac</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.5</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.5 (17F77)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>8192</integer>
				</dict>
				<key>Name</key>
				<string>iPhone X</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>954C2FE1-AFDA-42BF-9C08-0CDAA1281E23</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone10,3</string>
					<key>ModelName</key>
					<string>iPhone X</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-x-1</string>
					<key>Name</key>
					<string>iPhone X</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>11.4</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>11.4 (15F79)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator11.4</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 11.4</string>
					<key>OperatingSystemVersion</key>
					<string>11.4</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2018-07-04T00:33:27Z</date>
			<key>Title</key>
			<string>Testing workspace Harvest with scheme Harvest</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/LetanyanArumugam/Documents/University/2018/Semester1/COS301/Main/COS301-Capstone/Source/iOS/Harvest/Harvest.xcworkspace</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestSummaryPath</key>
	<string>/Users/LetanyanArumugam/Documents/University/2018/Semester1/COS301/Main/COS301-Capstone/Source/iOS/Harvest/TestResults/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>22</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>4</integer>
	<key>WarningSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIyRYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBobVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcZW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAYQAIADEFaAABP/
			/////////18QmmZpbGU6Ly8vVXNlcnMvTGV0YW55YW5BcnVtdWdh
			bS9Eb2N1bWVudHMvVW5pdmVyc2l0eS8yMDE4L1NlbWVzdGVyMS9D
			T1MzMDEvTWFpbi9DT1MzMDEtQ2Fwc3RvbmUvU291cmNlL2lPUy9I
			YXJ2ZXN0L0hhcnZlc3QvQXBwJTIwRGVsZWdhdGUvQXBwRGVsZWdh
			dGUuc3dpZnTSHB0eH1okY2xhc3NuYW1lWCRjbGFzc2VzXxAXRFZU
			VGV4dERvY3VtZW50TG9jYXRpb26jICEiXxAXRFZUVGV4dERvY3Vt
			ZW50TG9jYXRpb25fEBNEVlREb2N1bWVudExvY2F0aW9uWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0SUmVHJvb3SAAQAIABEAGgAj
			AC0AMgA3ADwAQgBXAGMAegCPAKMAtgC9ANAA2gDvAQMBBQEHAQkB
			CwENAQ8BGAG1AboBxQHOAegB7AIGAhwCJQI3AjoCPwAAAAAAAAIB
			AAAAAAAAACcAAAAAAAAAAAAAAAAAAAJB
			</data>
			<key>IssueType</key>
			<string>Shell Script Invocation Warning</string>
			<key>Message</key>
			<string>Todo Violation: FIXMEs should be resolved (Uncomment in production). (todo)</string>
			<key>Target</key>
			<string>Harvest</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIyRYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBobVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcZW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAcQAIADEQItgAAT
			//////////9fEKRmaWxlOi8vL1VzZXJzL0xldGFueWFuQXJ1bXVn
			YW0vRG9jdW1lbnRzL1VuaXZlcnNpdHkvMjAxOC9TZW1lc3RlcjEv
			Q09TMzAxL01haW4vQ09TMzAxLUNhcHN0b25lL1NvdXJjZS9pT1Mv
			SGFydmVzdC9IYXJ2ZXN0L01vZGVsL0luZm9ybWF0aW9uL0luZm9S
			ZXByZXNlbnRhdGlvbi5zd2lmdNIcHR4fWiRjbGFzc25hbWVYJGNs
			YXNzZXNfEBdEVlRUZXh0RG9jdW1lbnRMb2NhdGlvbqMgISJfEBdE
			VlRUZXh0RG9jdW1lbnRMb2NhdGlvbl8QE0RWVERvY3VtZW50TG9j
			YXRpb25YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRJSZUcm9v
			dIABAAgAEQAaACMALQAyADcAPABCAFcAYwB6AI8AowC2AL0A0ADa
			AO8BAwEFAQcBCQELAQ4BEAEZAcABxQHQAdkB8wH3AhECJwIwAkIC
			RQJKAAAAAAAAAgEAAAAAAAAAJwAAAAAAAAAAAAAAAAAAAkw=
			</data>
			<key>IssueType</key>
			<string>Shell Script Invocation Warning</string>
			<key>Message</key>
			<string>Todo Violation: FIXMEs should be resolved (Maybe allow changing these det...). (todo)</string>
			<key>Target</key>
			<string>Harvest</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIyRYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBobVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcZW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAgQAIADEIWAABP/
			/////////18QmWZpbGU6Ly8vVXNlcnMvTGV0YW55YW5BcnVtdWdh
			bS9Eb2N1bWVudHMvVW5pdmVyc2l0eS8yMDE4L1NlbWVzdGVyMS9D
			T1MzMDEvTWFpbi9DT1MzMDEtQ2Fwc3RvbmUvU291cmNlL2lPUy9I
			YXJ2ZXN0L0hhcnZlc3QvTW9kZWwvSW5mb3JtYXRpb24vU2Vzc2lv
			bi5zd2lmdNIcHR4fWiRjbGFzc25hbWVYJGNsYXNzZXNfEBdEVlRU
			ZXh0RG9jdW1lbnRMb2NhdGlvbqMgISJfEBdEVlRUZXh0RG9jdW1l
			bnRMb2NhdGlvbl8QE0RWVERvY3VtZW50TG9jYXRpb25YTlNPYmpl
			Y3RfEA9OU0tleWVkQXJjaGl2ZXLRJSZUcm9vdIABAAgAEQAaACMA
			LQAyADcAPABCAFcAYwB6AI8AowC2AL0A0ADaAO8BAwEFAQcBCQEL
			AQ0BDwEYAbQBuQHEAc0B5wHrAgUCGwIkAjYCOQI+AAAAAAAAAgEA
			AAAAAAAAJwAAAAAAAAAAAAAAAAAAAkA=
			</data>
			<key>IssueType</key>
			<string>Shell Script Invocation Warning</string>
			<key>Message</key>
			<string>Todo Violation: FIXMEs should be resolved (MAYBE WE MAKE EDIT COLLECTION ...). (todo)</string>
			<key>Target</key>
			<string>Harvest</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIyRYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBobVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcZW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAwQAIADEIeAABP/
			/////////18Qj2ZpbGU6Ly8vVXNlcnMvTGV0YW55YW5BcnVtdWdh
			bS9Eb2N1bWVudHMvVW5pdmVyc2l0eS8yMDE4L1NlbWVzdGVyMS9D
			T1MzMDEvTWFpbi9DT1MzMDEtQ2Fwc3RvbmUvU291cmNlL2lPUy9I
			YXJ2ZXN0L0hhcnZlc3QvRGF0YWJhc2UvREJBdXRoLnN3aWZ00hwd
			Hh9aJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1bWVu
			dExvY2F0aW9uoyAhIl8QF0RWVFRleHREb2N1bWVudExvY2F0aW9u
			XxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8QD05TS2V5
			ZWRBcmNoaXZlctElJlRyb290gAEACAARABoAIwAtADIANwA8AEIA
			VwBjAHoAjwCjALYAvQDQANoA7wEDAQUBBwEJAQsBDQEPARgBqgGv
			AboBwwHdAeEB+wIRAhoCLAIvAjQAAAAAAAACAQAAAAAAAAAnAAAA
			AAAAAAAAAAAAAAACNg==
			</data>
			<key>IssueType</key>
			<string>Shell Script Invocation Warning</string>
			<key>Message</key>
			<string>Todo Violation: FIXMEs should be resolved (#warning("Complete with proper...). (todo)</string>
			<key>Target</key>
			<string>Harvest</string>
		</dict>
	</array>
</dict>
</plist>
