<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.org.samac.harvest">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignIn_Choose"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SignIn_Farmer"
            android:label="@string/title_activity_login"
            android:parentActivityName=".SignIn_Choose">

            <!-- Makes this the first screen the user sees once app is opened -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SignIn_Foreman"
            android:label="@string/title_activity_login"
            android:parentActivityName=".SignIn_Choose" />
        <activity
            android:name=".SignIn_SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".SignIn_Choose" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InformationActivity"
            android:label="@string/titleInformation" />
        <activity
            android:name=".PieChart"
            android:label="@string/title_stats" />

        <!--Stats-->
        <activity
            android:name=".Stats"
            android:label="@string/title_stats" />
        <activity
            android:name=".Stats_Graph"
            android:label="@string/title_stats"
            android:launchMode="singleTop"
            android:parentActivityName=".Stats"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Stats" />
        </activity>
        <!--End Stats-->

        <activity
            android:name=".ForemenPerSession"
            android:label="@string/title_activity_sessions" />
        <activity
            android:name=".Sessions"
            android:label="@string/title_activity_sessions" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SessionsMap"
            android:label="@string/title_activity_sessions_map" />
        <activity
            android:name=".adapter.SessionDetails"
            android:label="@string/title_activity_sessions"
            android:launchMode="singleTop"
            android:parentActivityName=".Sessions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sessions" />
        </activity>
        <activity android:name=".ViewFlipperActivity" />
        <activity android:name=".IntroViewFlipper" />

    </application>

</manifest>